/SampleWebApp/target/
/AppCeldas/target/
/AppCells/target/
/mavenproject1/Battleship/target/
/Battleship/target/
/SocketSample/nbproject/private/
/SocketSample/build/
/UDPSample/nbproject/private/
/UDPSample/build/
/AppleStore/nbproject/private/
/AppleStore/build/