<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletSignin</servlet-name>
        <servlet-class>co.com.jmunoz.sampleweb.controller.ServletSignin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSaveUser</servlet-name>
        <servlet-class>co.com.jmunoz.sampleweb.controller.ServletSaveUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListUsers</servlet-name>
        <servlet-class>co.com.jmunoz.sampleweb.controller.ServletListUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeleteUser</servlet-name>
        <servlet-class>co.com.jmunoz.sampleweb.controller.ServletDeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditUser</servlet-name>
        <servlet-class>co.com.jmunoz.sampleweb.controller.ServletEditUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletSignin</servlet-name>
        <url-pattern>/ServletSignin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSaveUser</servlet-name>
        <url-pattern>/ServletSaveUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListUsers</servlet-name>
        <url-pattern>/ServletListUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeleteUser</servlet-name>
        <url-pattern>/ServletDeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditUser</servlet-name>
        <url-pattern>/ServletEditUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
